# ==========================
# Visual Studio
# ==========================
.vs/
*.user
*.suo

# ==========================
# Build folders
# ==========================
bin/
obj/

# ==========================
# Logs
# ==========================
Logs/
*.log

# ==========================
# Rider
# ==========================
.idea/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Publish output
# ==========================
publish/

# ==========================
# Environment files
# ==========================
.env
.env.*

# ==========================
# Docker
# ==========================
postgres-data/

# ==========================
# NuGet
# ==========================
*.nupkg

# ==========================
# Test Results
# ==========================
TestResults/

# ==========================
# Coverage Reports
# ==========================
coverage/
coverage-report/

# ==========================
# OS files
# ==========================
Thumbs.db
Desktop.ini
.DS_Store

# ==========================
# Secrets
# ==========================
appsettings.Development.json

# ==========================
# Serilog
# ==========================
*.txt

# ==========================
# Resharper
# ==========================
_ReSharper*/
*.DotSettings.user